#contact .input-box input{
    width: 100%;
    height: 56px;
    border-color: #000000;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 24px;
}
#contact .input-box input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #71717A;
}
#contact .input-box .msg{
    height: 140px;
    position: relative;
}
#contact .input-box .msg::placeholder{
    position: absolute;
    top: 20px;
}
#contact .contact-i{
    display: flex;
    gap: 24px;
}
#contact .contact-i .c-box{
    width: 56px;
    height: 56px;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    border: 2px solid #000000;
}
#contact .contact-i .c-box:hover{
    background-color: #000000;
    transition: .4s;
}
#contact .contact-i .c-box:hover .ci{
    color: #ffffff;
    transition: .4s;
}
#contact .contact-i .ci{
    font-size: 30px;
    color: #000000;
}
#contact .input-box .contact-btn{
    width: 173px;
    height: 56px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border: 2px solid transparent;
}
#contact .input-box .contact-btn:hover{
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    transition: .4s;
}
#contact .text-side h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 20px;
}
#contact .text-side h2 span{
    font-size: 55px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 3px;
    color: #ffffff;
    -webkit-text-stroke: 2px #000000;
    font-family: "Merriweather", serif;
}
#contact .text-side p{
    color: #71717A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    margin-bottom: 40px;
}
#contact .text-side h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color: #000000;
    margin-bottom: 16px;
}
#contact .text-side h3 .email{
    font-size: 40px;
    color: #000000;
    margin-right: 10px;
}
#contact .text-side h4{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color: #000000;
}
#contact .text-side h4 .call{
    font-size: 40px;
    color: #000000;
    margin-right: 10px;
}
#contact{
    padding: 60px;
}
.error{
    font-size: 15px;
    color: red;
    font-weight: 400;
    margin-top: -14px;
    margin-bottom: 20px;
}
.erricon{
    margin-left: 5px;
}