@media (min-width: 320px) and (max-width: 575px){
  #about .text-side h2 {
    margin-top: 20px;
    margin-left: 44px;
}
      #about .text-side p {
        margin-top: 27px;
        margin-left: 44px;
      }
}
@media (min-width: 576px) and (max-width: 767px){
  #about .text-side h2 {
    margin-top: 20px;
    margin-left: 44px;
}
      #about .text-side p {
        margin-top: 27px;
        margin-left: 44px;
      }
}
@media (min-width: 768px) and (max-width: 991px){
  #about .text-side h2 {
    margin-top: 20px;
    margin-left: 44px;
}
      #about .text-side p {
        margin-top: 27px;
        margin-left: 44px;
      }
}
@media (min-width: 992px) and (max-width: 1200px){
  #about .text-side h2 {
    margin-top: 20px;
    margin-left: -163px;
}
      #about .text-side p {
        margin-top: 27px;
        margin-left: 44px;
      }
}